<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
</head>
<body>
    <br>
    <div class="container">

        <h1>Perfil usuario</h1>
        <br>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut quos error vel cumque quis. Ipsa fugiat nesciunt corporis reprehenderit soluta neque illo rem excepturi, et dolorem odio dolore repellendus modi.</p>
    </div>    
</body>
</html>