<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

    <table class="table">
        <% @user.each do |u| %>
            <tr>
                <th>Rol</th> 
                <th>Nombre</th> 
                <th>Email</th>
                <th>Comuna</th>
            </tr>
            <br>

            <tr>
                <td><%= u.role %></td>
                <td><%= u.lastname %></td>
                <td><%= u.email %></td>
                <td><%= District.pluck(:name) %></td>
             </tr>
        <% end %>
    </table>
    
</body>
</html>